#heroPortrait{
    height: 350px;
    width: 250px;
}
.singleHeroContainer{
    background-image: url("../images/contentBckg.png");
    /*background-size: contain;*/
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: absolute;
    left: 15%;
    top: 8%;
    padding: 30px;
    margin: 10px;

}
.singleHeroView{
    background-image: url("../images/contentBckg.png");
    background-size: contain;
    background-repeat: no-repeat;
}
.hMenuBtn{
    height: 60px;
    width: 100px;
    border: 1px solid black;
}
.heroMenuContainer{
    margin: 10px;
    position: absolute;
    left: 39%;
    top: 8%;
    /*border: 30px solid;*/
    /*border-image: url('../images/brdrSample.png') 25% repeat;*/
    background-image: url("../images/contentBckg.png");
    background-size: contain;
}
.inventoryContent{
    position: absolute;
    left: 50%;
    top: 8%;
    margin: 10px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-image: url("../images/contentBckg.png");
    /*border: 30px solid;*/
    /*border-image: url("../images/brdrSample.png") 30% repeat;*/
}