#heroPortrait{
    height: 350px;
    width: 250px;
}
.singleHeroContainer{
    background-image: url("/static/images/contentBckg.png");
    background-size: cover;
    position: absolute;
    left: 15%;
    top: 8%;
    padding: 30px;
    margin: 10px;

}
.singleHeroView{
    background-image: url("/static/images/contentBckg.png");
    background-size: cover;
}
.hMenuBtn{
    height: 60px;
    width: 100px;
    border: 1px solid black;
}
.heroMenuContainer{
    margin: 10px;
    position: absolute;
    left: 39%;
    top: 8%;
    border: 30px solid;
    border-image: url('/static/images/brdrSample.png') 25% repeat;
}
.inventoryContent{
    position: absolute;
    left: 50%;
    top: 8%;
    margin: 10px;
    border: 30px solid;
    border-image: url("/static/images/brdrSample.png") 30% repeat;
}