<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="fragments/head.html :: header"></th:block>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="singleHeroView" th:fragment="singleHero (hero)">
<table>
    <thead>
    <tr>
        <td th:text="${hero.getHeroClass().getType()}+' '+${hero.getName()}+' Level: '+${hero.getLevel()}"></td>
    </tr>
    </thead>
    <tr><td id="heroPortraitCell"><img id="heroPortrait" th:src=
            "'../images/'+${hero.getHeroClass().toString()}+''+${hero.getLevel()}+'.gif'"></td></tr>
    <tr><td colspan="2">Stats</td></tr>
    <tr><td th:text="'Health: '"></td><td th:text="${hero.getMaxHealth()}" class="heroStatNum"></td></tr>
    <tr><td th:text="'Strength: '"></td><td th:text="${hero.getStrength()}" class="heroStatNum"></td></tr>
    <tr><td th:text="'Intellect: '"></td><td th:text="${hero.getIntellect()}" class="heroStatNum"></td></tr>
    <tr><td th:text="'Dexterity: '"></td><td th:text="${hero.getDexterity()}" class="heroStatNum"></td></tr>
</table>
</div>
</body>
</html>