<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="content">

    <table>
        <thead>
        <tr>
            <td colspan="2">Summoned Heroes</td>
        </tr>
        <tr>
            <th> Name </th>
            <th> Level </th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${heroes.isEmpty()}">
            <td colspan="2"> No Heroes Available </td>
        </tr>
        <tr th:each="hero : ${heroes}">
            <td><span th:text="${hero.getName()}"> Name </span></td>
            <td><span th:text="${hero.getLevel()}"> Level </span></td>
        </tr>
        </tbody>
    </table>

</div>
</body>
</html>