<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/loginStyle.css}">
<!--    <div th:replace="template :: scripts"></div>-->
</head>
<body>
<div class="loginComponent">
    <h1 class="loginHeader">Demo World</h1><br><br><br><br>
<form action="/login" method="post">

    <h3 th:text="Login"></h3>
    <input type="text" name="username" th:placholder="username"/>
    <br/>
    <input type="password" name="password"/>
    <br/>
    <div th:if="${param.error}">
        Username or password invalid!
        <br/>
    </div>
    <button name="Submit" value="Login" type="submit" th:text="Login"></button>

</form>
<br>
No account? <a href="/register">Register!</a>
</div>
</body>
</html>