<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>demoWorld</title>
</head>
<body>

<h1>This is main view, logged in</h1>

<div class="temp">
    <h3>Hero Creation</h3>
    <div class="heroCreateContent">
        <form action="/createHero" method="post">
            Name: <input type="text" name="name">
            <select>
<!--                <option th:each="state : ${T(com.sda.demoworld.hero.classes.HeroClassTypes).values()}"-->
<!--                        th:value="${state}"-->
<!--                        th:text="${state}">-->
<!--                </option>-->
            </select>
            <button type="submit">Create</button>
        </form>

    </div>

</div>

</body>
</html>